*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main
{
    width: 25%;
    height: 500px;
    margin: auto;
    background-color: aqua;
    justify-content: center;
    margin-top: 90px;
    padding-top: 40px;
}
.main2
{
    width: 80%;
    height: 400px;
    background-color: whitesmoke;
    margin: auto;
    padding-top: 10px;
}
.header
{
    text-align: center;
    padding-top: 30px;
    width: 50%;
    height: 20px;
    margin: auto;

}
